/* Page background */
body {
    background-color: #b7dfe8; /* light blue */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main page header */
h1 {
    text-align: center;
    font-size: 48px;
    margin: 20px 0;
}

/* Section headers */
h2 {
    font-size: 26px;
    margin-left: 15px;
}

/* General paragraph styling */
p {
    margin: 15px;
    line-height: 1.4;
}
